* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}
#header {
    width: 100%;
    position: fixed;
    z-index: 99999;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}


#menu_button {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 99999;
    transform: translate(0,-50%);
    width: 34px;
    height: 30px;
    cursor: pointer;
}

#menu_button span.top {
    top: 0;
}
#menu_button span.middle {
    top: 12px;
}
#menu_button span.bottom {
    top: 24px;
}
#menu_button span {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background: /*#e46447*/#fff;
    border-radius: 2px;
    transition: all 300ms ease-out;
}



#header .header-wrapper {
    position: relative;
    width: 90%;
    padding: 10px 0;
    margin: auto;
}

#header:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 909px;
    left: 0;
    top: 0;
    /*background: radial-gradient(68.4% 143.85% at 11.66% 7.15%, rgba(0, 190, 250, 0.103125) 0%, rgba(255, 255, 255, 0.2) 25.52%, rgba(46, 201, 251, 0.2) 100%), /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    /* rgba(0, 156, 222, 0.9);*/
    
    background: rgba(0, 156, 222, 0.9);
    /*box-shadow: 0px 4.64671px 11.6168px rgba(0, 0, 0, 0.1);*/
    /*backdrop-filter: blur(10.6301px);*/
}

#miracing_button {
    position: absolute;
    right: 75px;
    top: 50%;
    z-index: 99999;
    border-radius: 3px;
    transform: translate(0,-50%);
    padding: 12px;
    background: #fff;
    color: #09c;
    font: 400 100%/100% 'Montserrat';
    text-transform: uppercase;
    transition: 200ms ease-out;
}
#logo{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    
}
